body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
}

#login-container {
    width: 12.5%;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.container {
    margin-top: 50px;
    flex-grow: 1;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#click-button {
    background: blue;
    color: white;
}

#achievements-button {
    background: green;
    color: white;
}

#progress-bar-container {
    width: 50%;
    background: #ddd;
    margin: 20px auto;
    border-radius: 5px;
    overflow: hidden;
}

#progress-bar {
    width: 0%;
    height: 20px;
    background: blue;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
    width: 40%;
}

.modal button {
    margin-top: 10px;
    background: red;
    padding: 10px 20px;
}

#login-button {
    background: blue;
    color: white;
    border-radius: 10px;
}

#hacker-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: green;
    text-align: center;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;  /* Inicialmente invisível */
    transition: opacity 1s ease-in-out;  /* Animação de fade-in */
}

#hacker-menu button {
    background-color: green; /* Cor de fundo verde */
    color: white; /* Cor do texto branca */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
